@model domain.DomainModels.Projection 
<div class="container border border-dark rounded mt-4">
    <h1 class="text-center mt-2">Edit the existing projection for the movie: @ViewBag.Movie.Name</h1>
    <hr />
    <form method="post" action="/Projection/EditProjection/@Model.Id">
        <input type="hidden" value="@Model.MovieId" name="movieId" />
        <div class="row">
            <div class="form-group col-4">
                <label for="name">Date and Time</label>
                @Html.EditorFor(model => model.DateAndTime, new { htmlAttributes = new { @class = "form-control", name="dateAndTime", id="dateAndTime" } })
            </div>
            <div class="form-group col-4">
                <label for="dateAndTime">Available Tickets</label>
                <input class="form-control" type="number" min="1" name="availableTickets" id="dateAndTime" required="required" value="@Model.AvailableTickets"/>
            </div>
            <div class="form-group col-4">
                <label for="price">Price</label>
                <input class="form-control" type="number" min="1" name="price" id="price" required="required" value="@Model.Price"/>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-6 justify-content-center">
                <a href="/Movie/ViewMovie/@ViewBag.Movie.Id" class="text-white btn btn-danger btn-block btn-lg mb-2">Cancel</a>
            </div>
            <div class="col-6 justify-content-center">
                <button type="submit" class="btn btn-success btn-block btn-lg mb-2">Submit</button>
            </div>
        </div>
    </form>
</div>
