@model domain.DTO.UserRegistrationDto
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container col-8 offset-2 border border-dark rounded mt-4">
    <h1 class="text-center mt-2">Register</h1>
    <hr/>
    @Html.ValidationSummary()
    <form asp-action="Register" asp-controller="Account" method="post">

        <div class="registerdiv ml-2 mr-2">


            <div class="form-group">
                <label asp-for="@Model.Email" class="control-label"></label>
                <br>
                <div class="">
                    @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Name" class="control-label"></label>
                <br>
                <div class="">
                    @Html.TextBoxFor(m => m.Name, new { placeholder = "Name", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>

            <div class="form-group">
                <label asp-for="@Model.LastName" class=" control-label"></label>
                <br>
                <div class="">
                    @Html.TextBoxFor(m => m.LastName, new { placeholder = "Last Name", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.LastName)
                </div>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Password" class="control-label"></label>
                <br>
                <div class="">
                    @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>

            <div class="form-group">
                <label asp-for="@Model.ConfirmPassword" class="control-label"></label>
                <br>
                <div class="">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm Password", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
            </div>
            <hr />
            <div class="form-group">
                <div class=" btn-submit">
                    <button type="submit" class="btn btn-success btn-block btn-lg">Sign Up</button>
                </div>
            </div>
            <div class="form-group">
                <div class=" btn-submit">
                    <a href="/Account/Login" class="btn btn-primary btn-block btn-lg">Already have an account? Log in here!</a>
                </div>
            </div>
        </div>
    </form>
</div>  